 @font-face {
    font-family: Digital Glitch;
    src: url('fonts/Digital Glitch Demo.ttf');
  }
 @font-face {
    font-family: Glitch Inside;
    src: url('fonts/Glitch inside.otf');
 }
body {
  background-color: lightblue;
  background-image: url('images/landing page bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial;
  text-shadow: 1px 1px 2px grey;
}
h1 {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  margin-left: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 2em;
  font-family: Digital Glitch;
}
p {
  text-shadow: 1px 1px 2px blue;
  margin-left: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-family: Glitch Inside;
}
p2 {
  text-shadow: 1px 1px 2px blue;
  margin-left: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial";
}
