body {
  background-color: lightblue;
  background-image: url('images/landing page bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  margin-left: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-family: "Arial";
  font-size: 3em;
}
p {
  text-shadow: 1px 1px 2px blue;
  margin-left: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial";
  font-size: 1.2em;
}
p2 {
  text-shadow: 1px 1px 2px blue;
  margin-left: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial";
}
